.ms-controller{
   visibility: hidden
}
.ui-layout-west{
  /*overflow: scroll;*/
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

#right-button-group{
  width:100%;
}
#right-button-group>.btn{
  width:10%;
}
.alert{
  height:30px;
  float:left;
  margin-left: 5px;
  margin-bottom: 5px;
  padding:5px 25px 5px 10px;
}
.alert>span{
  font-weight: bold;
  float: left;
  display: inline-block;
  margin: 0 auto;
}
.hide{
  display:none;
}
.folder-icons{
  float:left;
  width:20px;
  height:20px;
}
.result-titles{
  display:inline-block;
  margin-left:10px;
  font-size:16px;
  line-height:20px;
}
.result-links{
  overflow:hidden;
}
.open-folder{
  background-image:url(../img/folder_open.png);
  background-size:20px 20px;
  -moz-background-size:20px 20px; /* ???? Firefox */
  background-repeat:no-repeat;
}
.close-folder{
  background-image:url(../img/folder_close.png);
  background-size:20px 20px;
  -moz-background-size:20px 20px; /* ???? Firefox */
  background-repeat:no-repeat;
}
.list-group-item>.btn-group:first-child{
  font-size:17px;
  font-weight:bold;
}
.badge{
  margin-left:10px;
}
.ui-slider{
  margin-top:20px;
}
.tab-delete{
  width:20px;
  line-height:10px;
  overflow:hidden;
}
.tab-title{
  /*overflow:hidden;*/
}
.tab-title>button>span{
  display:inline-block;
  margin-top:3px;
  text-align:center;
  width:20px;
  height:20px;
}
.content-tab{
  min-height:500px;
}
.bottom-hide-tabs{
  float: left;
  /*position:fixed;*/
  position:absolute;
  z-index:100;
  overflow:hidden;
  width:60%;
}

#hide-tab-0{
  left:20px;
  /*bottom:-350px;*/
}

#hide-tab-1{
  left:220px;
  width:83%;
  /*bottom:-350px;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#hide-tab-1 td{
  width:20%;
}
#hide-tab-1 th{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
#hide-tab-1 label{
  /*max-width:50%;*/
  float: left;
  padding:1px 3px;
  font-weight: 400;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(116,247,148,0.3);
  /*background-color: #fff;*/
  border-radius: 5px;
}
#hide-tab-2{
  left:420px;
  /*bottom:-350px;*/
}
/*.bottom-hide-tabs label{
  width:100%;
}*/
.bottom-hide-tabs>.tabs-handle{
  overflow:hidden;
}
.bottom-hide-tabs>.tabs-handle>p{
  float:left;
  width:150px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align:center;
  line-height:50px;
  font-size:30px;
  margin:0px;
  background:#d9edf7;
  border:1px solid #bce8f1;
  border-bottom:0px;
}
.bottom-hide-tabs>.bottom-hide-tabs-container{
  padding:20px;
  background:#f1f1f1;
  border:1px solid #bce8f1;
  border-top-right-radius:5px;
  border-bottom:0px;
  /*height:350px;*/
}
.bottom-hide-tabs td{
  /*width:25%;*/
}
#hide-tab-1 .keywords_slider>p{
  float: left;
}
.bottom-hide-tabs>div>.table,p{
  margin:0px;
}
.bottom-hide-tabs .table{
  font-size:18px;
  padding:20px;
  border-collapse:collapse;
  border:2px solid #ddd;
  margin-bottom: 0;
}
.bottom-hide-tabs .table th,td{
  border:2px solid #ddd;
}
.checkbox-disabled{
  color:#aaa;
}
label[data-selected=selected]{
  color:#0099ff;
}
#hide-tab-1 input[type=checkbox]{
  display: none;
}
.ui-slider-range{
  /*background-color: #0099ff;*/
  background-color: #b5dac8;
}
.amount-slider{
  display: none;
}
#myModal .list-group{
  margin:20px 10px;
}
.tabs-handle>p{
  cursor: pointer;
}
.keywords_slider{
  overflow: hidden;
}
.keywords_slider_btn{
  width:20px;
  float: right;
  margin: 10px 10px 0 10px;
  opacity: 0.5;
}
.left-tabs{
  margin-bottom: 30px;
}

.loadingBorder{
  width:80%;
  marigin:20px auto;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #000;
}
.loadingLine{
  height:100%;

}
#coverDiv{
  display: none;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  /*width:100%;*/
  /*height: 100%;*/
  z-index:2000;
  visibility:visible;
}
#carousel-example-generic{
  width:900px;
  height:500px;
  margin:10px auto;
}
.item{
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-control{
  top:85%;
  height: 39px;
  border-radius: 10px;
  background-color: #0099ff;
  opacity: 1;
  background-image: rgba(0,0,0,0);
}
span.glyphicon{
  top:30%;
  height: 23px;
  /* float: left; */
  display: inline-block;
}
.sr-only{
  position: absolute;
  color: #000;
  width: 85px;
  height: 53px;
  left: 10px;
  padding: 0;
  overflow: hidden;
  /* clip: rect(0, 0, 0, 0); */
  border: 0;
}
.carousel-indicators{
  /*background-color: #aaa;*/
}
.carousel-indicators li{
  border: 1px solid #0099ff;
}
.carousel-indicators li.active{
  background-color: #0099ff;
}
