#leftDiv{
  float: left;
  width:25%;
  height:805px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border: 2px solid rgba(121, 121, 121, 0.2);
  border-right: 0px;
  margin: 20px 0 20px 20px;
  overflow-y: scroll;
}
.accordion{
    margin: 20px auto;
}
.accordion-toggle{
    font-size: 20px;
    color:#0099ff;
}
.accordion-toggle:hover{
    color: #00aaff;
}
#main{
  float: left;
  overflow: hidden;
  width:60%;
  min-width: 625px;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid rgba(121, 121, 121, 0.2);
  margin: 20px 20px 20px 0;
}
svg{
  width:100%;
}
svg>rect{
  width:100%;
}
.triplets>span{
  font-size:15px;
  margin-left:5px;
  margin-right:5px;
}
.Confidence{
  color:#00aa99;
}
body{
  background-color: #0099ff;
  overflow-x: scroll;
}
.triplets{
    margin: 5px 10px;
}
.this{
    color: red;
}
